<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="canvas">
        <div class="top">
            <div id="primary-number">{{ primaryNumber }}</div>
            <div id="add">+</div>
            <div id="secondary-number">{{ secondaryNumber }}</div>
            <div id="equal">=</div>
            <div>
                <input type="number" id="guess" v-model="userGuess">
            </div>
            <div>
                <button id="btn" @click="onUserSubmit">check</button>
            </div>
        </div>
        <div class="bottom">
            <p v-if="showSubmitMessage" :style="{ 'background-color': submitMessageColor }">{{ submitMessage }}</p>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
</body>

</html>